Code_Files/ADF Pipeline/Http_To_ADLS_support_live/pipeline/Http_To_ADLS.json
{
    "name": "Http_To_ADLS",
    "properties": {
        "activities": [
            {
                "name": "Lookup",
                "description": "Fetching file names",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "Json_azure_dl",
                        "type": "DatasetReference",
                        "parameters": {
                            "Container": {
                                "value": "@pipeline().parameters.Container",
                                "type": "Expression"
                            },
                            "Directory": {
                                "value": "@pipeline().parameters.DirectoryMain",
                                "type": "Expression"
                            },
                            "FileName": "filesName"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "HttpIngestion",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "JsonSource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    },
                                    "formatSettings": {
                                        "type": "JsonReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "Json_Http",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file_name": {
                                            "value": "@{item().file}.json",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "Json_azure_dl",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "Container": {
                                            "value": "@pipeline().parameters.Container",
                                            "type": "Expression"
                                        },
                                        "Directory": {
                                            "value": "@pipeline().parameters.DirectoryIngestion",
                                            "type": "Expression"
                                        },
                                        "FileName": {
                                            "value": "@{item().file}",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "Container": {
                "type": "string",
                "defaultValue": "raw"
            },
            "DirectoryMain": {
                "type": "string",
                "defaultValue": "Uber Project"
            },
            "DirectoryIngestion": {
                "type": "string",
                "defaultValue": "Uber Project/Ingestion"
            }
        },
        "folder": {
            "name": "Real-Time Ride Intelligence"
        },
        "annotations": [],
        "lastPublishTime": "2026-04-19T19:59:00Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}